// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt Email
//  Base Styles & Helpers
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

.l-outer-wrapper {
  max-width: var(--outer-wrapper-width);
}

.h-mobile-edge {
  width: var(--mobile-edge);
}

.h-mobile-show {
  display: none;
}

.h-responsive-img {
  width: 100%;
  max-width: 750px;
  height: auto;
}



//
// Spacers (for MSO 2016. TD's get set to 17px default needs an &nbsp; in the <td>)
//
.h-spacer-2 {
  font-size: 2px;
  line-height: 2px;
}

.h-spacer-5 {
  font-size: 5px;
  line-height: 5px;
}

.h-spacer-10 {
  font-size: 10px;
  line-height: 10px;
}

.h-spacer-15 {
  font-size: 15px;
  line-height: 15px;
}