// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt Email
//  Resets
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

body { 
  width: 100% !important;
  height: 100% !important; 
  margin: 0 auto !important; 
  padding: 0 !important;
  max-width: var(--outer-wrapper-width);
  font-family: var(--font-family);
}

// Prevent WebKit and Windows mobile changing default text sizes
body, table, td, a {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}

// Remove spacing between tables in Outlook 2007 and up
table, td {
  mso-table-lspace: 0pt; 
  mso-table-rspace: 0pt;
}

table { 
  border-collapse: collapse !important;
}

td {
  margin: 0;
  padding: 0;
}

// Image resets
img {
  -ms-interpolation-mode: bicubic; // Allow smoother rendering of resized image in Internet Explorer
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
