<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/main.css">
<style type="text/css">

  /* MOBILE STYLES */
  @media screen and (max-width: 600px) {

    .wrapper {
      width: 100% !important;
      max-width: 100% !important;
    }

    .mobile-hide { display: none !important; }

    .mobile-show {
      display: block !important;
      font-size: 12px !important;
      line-height: 1.5 !important;
      max-height: none !important;
    }

    .responsive-img {
      height:auto !important;
      max-width:600px !important;
      width: 100% !important;
    }

  } /* 600px */

  @media screen and (max-width: 500px) {

  } /* 500px */

  @media screen and (max-width: 450px) {

    .xs-mobile-hide { display: none !important; }

    .xs-mobile-show {
      display: block !important;
      font-size: 12px !important;
      line-height: 1.5 !important;
      max-height: none !important;
    }

  } /* 450px */
  
</style>
